{"apkBuildSettings":{},"graphicsSettings":{"enableFrameLimitV2":true,"limitFrames":45,"resolutionPixels":720,"uiFreeAspectResolutionSide":"Height","uiRenderPercentage":50,"uiResolutionMode":"Resolution"},"javaSettings":{"module_autoGenerateRBindings":true,"module_caseInsensitiveMethods":true,"module_customOperators":true,"module_publicMethods":true,"module_virtualAttributes":true},"physicsSettings":{"filtersEditor":{"alwaysEnabled":false,"alwaysOpen":false,"depth":0,"open":false,"preventLongClickMenu":false},"layers":[{"guid":"0fd07a34bc7b4656b331f902bba1942e","ignoreLayers":[],"inspectorEditor":{"alwaysEnabled":false,"alwaysOpen":false,"depth":0,"open":false,"preventLongClickMenu":false},"isDefault":true,"name":"Default"}],"layersEditor":{"alwaysEnabled":false,"alwaysOpen":false,"depth":0,"open":false,"preventLongClickMenu":false}},"tagSystem":{"tags":[]},"vcsSettings":{"enableVCS":false,"maximumVCSDiskUsage":512}}